# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
package-lock.json

# Local environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional eslint cache
.eslintcache

# IDEs and editors
.vscode